{% extends "layout.html" %} {% block content %}
<form action="index.html" class="box" method="post">
  <div class="form" style="color:white ;">
    <h4>About</h4>
    <p style=" padding-left:8% ; padding-right:8%;">
      This classifier categorizes news articles. The classifier was trained with
      2225 articles from BBC news. The news categorized into 5 categories
      (business, entertainment, politics, sport, tech).
    </p>
    <p style=" padding-left:8% ; padding-right:8%">
      This website designed by Ahmed Alomar & Ali Alrabiee students in Majmaah
      University as a part of a graduating project in 2019.
    </p>
  </div>
</form>
{% endblock content %}
