{% extends "layout.html" %} {% block content %}
<form action="index.html" class="box" method="post">
  <div class="form" style="color:white ;">
    <h4>About</h4>
    <p style=" padding-left:8% ; padding-right:8%;">
      While the classification is a problem for many things a news
      classification is one of them because some articles sometimes are related
      to different topics so in this case, we can use the classifier to classify
      the article.
    </p>
    <p style=" padding-left:8% ; padding-right:8%">
      This website is a classifier categorizes news articles to five categories.
      The classifier will accept the article in any language and present the
      percentage of the relationship of the article to each category.
    </p>
    <p>
      The classifier was trained with 2225 articles from
      <a href="http://mlg.ucd.ie/datasets/bbc.html"> BBC news</a>. The articles
      categorized into five categories (business, entertainment, politics,
      sport, tech).
    </p>
    <p>
      This website builds by Ahmed Alomar & Ali Alrabeei students in department
      of Computer Science, Collage of Computer and Information Science, Majmaah
      University, Al Majmaah, Kingdom of Saudi Arabia as a part of a graduating
      project in 2019.
    </p>
    <p>
      While the project is extendable, but we will stop at this point until we
      have another goal for this project.
    </p>
  </div>
</form>
{% endblock content %}
