{% extends "layout.html" %} {% block content %}

<form action="#" class="box" method="post">
   <div class="form">
      <h3>Classify Text</h3>
      <textarea
         class="form-control"
         id="text"
         name="text"
         placeholder="Paste text here to classify"
         required
         autocomplete="off"
         rows="6"
      ></textarea>
      <table align="center">
         <tr>
            <td><input type="submit" class="btn" value="classify" /></td>
            <td>
               <a href="{{ url_for('about') }}">
                  <button type="button" class="bt" id="txt">
                     <i class="fa fa-info"></i>
                  </button>
               </a>
            </td>
         </tr>
      </table>
   </div>
</form>
<script>
   autosize(document.querySelectorAll("textarea"));
</script>
{% endblock content %}
