{% extends "layout.html" %} {% block content %}
<script src"https://cdnjs.cloudflare.com/ajax/libs/autosize.js/4.0.2/autosize.min.js"></script>
<form action="#" class="box" method="post">
   <div class="form">
      <h3>Classify Text</h3>
      <textarea
         class       = "form-control"
         id          = "text"
         name        = "text"
         placeholder = "Paste news artical here to classify"
         required
         autocomplete = "off"
         rows         = "15"
      ></textarea>
      <table align="center">
         <tr>
            <td><input type="submit" class="btn" value="classify" /></td>
            <td>
               <a href="{{ url_for('about') }}">
                  <button type="button" class="bt" id="txt">
                     <i class="fa fa-info"></i>
                  </button>
               </a>
            </td>
         </tr>
      </table>
   </div>
</form>
<script>
   autosize(document.querySelectorAll("textarea"));
</script>
{% endblock content %}
